<app-video-room-layout>
  <app-room-header
    id="header"
    [roomName]="roomName"
    [creatorName]="creatorName"
    (leaveRoom)="leaveRoom()"
    (copyLink)="copyLink()"
  ></app-room-header>

  <app-chat id="drawer"></app-chat>

  <div
    #videoContainer
    class="videos-container"
    [style.grid-template-rows]="videoContainerGridRows"
    [style.grid-template-columns]="videoContainerGridColumns"
    [style.width]="videoContainerWidth"
  >
    <div class="video-wrapper" [style.height]="videoHeight" [style.width]="videoWidth">
      <video #userVideo [style.height]="videoHeight" [style.width]="videoWidth"></video>

      <div class="media-status">
        <div *ngIf="isVideoHidden">
          <mat-icon>videocam_off</mat-icon>
        </div>
        <div *ngIf="isMuted">
          <mat-icon>mic_off</mat-icon>
        </div>
      </div>

      <div class="peer-name">{{ myName }} (me)</div>
    </div>

    <div
      *ngFor="let peer of peerVideosCollection"
      class="video-wrapper"
      [style.height]="videoHeight"
      [style.width]="videoWidth"
    >
      <video
        #peerVideo
        [id]="peer.id"
        [srcObject]="peer.srcObject"
        (loadedmetadata)="onVideoLoaded($event)"
        [style.height]="videoHeight"
        [style.width]="videoWidth"
      ></video>

      <div class="media-status">
        <div *ngIf="peer.isVideoHidden">
          <mat-icon>videocam_off</mat-icon>
        </div>
        <div *ngIf="peer.isAudioMuted">
          <mat-icon>mic_off</mat-icon>
        </div>
      </div>

      <div class="peer-name">{{ peer.name }}</div>
    </div>
  </div>

  <div class="control-buttons">
    <button mat-stroked-button type="button" id="muteAudioButton" (click)="onMuteAudio()">
      {{ !isMuted ? 'Mute' : 'Unmute' }}
    </button>
    <button mat-stroked-button type="submit" id="hideVideoButton" (click)="onHideVideo()">
      {{ !isVideoHidden ? 'Hide Video' : 'Show Video' }}
    </button>
    <button #drawerToggle mat-flat-button color="primary" (click)="onToggleChat()">Chat</button>
  </div>
</app-video-room-layout>
