@import "variables";

.videos-container {
  display: grid;
  align-items: center;
  justify-items: center;
  width: max-content;
  max-width: 100%;
  grid-gap: 10px;
  height: 80vh;
  padding: 15px;

  .video-wrapper {
    position: relative;
    display: flex;
    border-radius: 5px;
    overflow: hidden;

    .media-status {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      > div {
        padding: 0 10px;

        .mat-icon {
          color: $color-white;
        }
      }
    }

    .peer-name {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 12px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.4);
      color: $color-white;
    }
  }
}

.control-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  padding: 15px;

  button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
