<ng-container [ngSwitch]="type">
  <mat-checkbox
    class="base-checkbox"
    *ngSwitchCase="BooleanFieldType.checkbox"
    disableRipple
    [color]="'primary'"
    [formControl]="formControl"
    (input)="onCheckboxInput($event)"
    [required]="required"
    [disabled]="disabled"
  >
    {{ label }}
  </mat-checkbox>

  <mat-slide-toggle
    class="base-toggle"
    *ngSwitchCase="BooleanFieldType.toggle"
    [color]="'primary'"
    [formControl]="formControl"
    [required]="required"
    [disabled]="disabled"
  >
    {{ label }}
  </mat-slide-toggle>
</ng-container>
