@import "variables";

.base-checkbox-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.base-checkbox-title {
  width: 100%;
  font-size: 13px;
  line-height: 20px;
}

.mat-checkbox-checked .base-checkbox-label {
  color: $color-middle-grey;
}
