@import "variables";

@mixin custom-input-theme($theme) {
  .mat-form-field {
    width: 100%;

    .mat-form-field-infix {
      .mat-input-element.cdk-textarea-autosize {
        box-sizing: content-box;
        position: relative;
        top: -5px;
      }

      .mat-input-element:not(.cdk-textarea-autosize) {
        height: 100%;
        position: relative;
        top: -3px;
      }
    }
  }

  .mat-form-field.mat-form-field-appearance-outline {
    .mat-form-field-infix {
      .mat-input-element.cdk-textarea-autosize {
        padding: 0;
      }
    }
  }
}
