:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.video-room-container {
  height: 100%;

  .mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mat-drawer {
    width: 25vw;
  }
}
