<ng-content select="#header"></ng-content>

<mat-drawer-container class="video-room-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'" [position]="'end'">
    <ng-content select="#drawer"></ng-content>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
