@import "variables";

.room-header {
  width: 100%;
  height: 10vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: $border-grey;

  .room-info {
    display: flex;
    align-items: center;

    .room-name {
      font-weight: bold;
      margin-right: 5px;
    }

    .creator-info {
      margin-left: 5px;

      span {
        font-weight: bold;
      }
    }
  }
}
