<div class="room-header">
  <div class="room-info">
    <span class="room-name">{{ roomName }}</span>
    <button #linkButton mat-icon-button color="primary" [matTooltip]="'Copy link to join room'" (click)="onCopyLink()">
      <mat-icon>link</mat-icon>
    </button>
    <div class="creator-info">
      created by
      <span>{{ creatorName }}</span>
    </div>
  </div>

  <button mat-flat-button color="warn" id="leaveRoomButton" (click)="onLeaveRoom()">Leave room</button>
</div>
