<mat-card>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #ngFormRef="ngForm">
    <mat-card-header></mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          <base-form-input
            [inputTooltipText]="'Provided by a room creator'"
            [isButtonShown]="true"
            [buttonIcon]="'autorenew'"
            [buttonTooltipText]="'Generate a random name'"
            [control]="formControls.roomName"
            [label]="'Room name'"
            [required]="true"
            [appearance]="'outline'"
            (buttonClicked)="onGenerateRoomName()"
          ></base-form-input>
        </li>
        <li>
          <base-form-input
            #userNameControl
            [control]="formControls.userName"
            [label]="'Your name'"
            [required]="true"
            [appearance]="'outline'"
          ></base-form-input>
        </li>
        <li>
          <base-select
            [control]="formControls.maxNumber"
            [placeholder]="'Max number of participants'"
            [options]="numberOfParticipantsValues"
            [required]="true"
            [appearance]="'outline'"
          ></base-select>
        </li>
      </ul>

      <mat-card-actions>
        <button mat-flat-button cdkFocusInitial color="primary" type="submit">Create</button>
        <button mat-stroked-button type="button" (click)="onClear()">Clear</button>
      </mat-card-actions>
    </mat-card-content>
  </form>
</mat-card>
