// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "variables";

@import "modules/button";
@import "modules/input";

@include mat-core();

$app-primary: mat-palette($base-palette: $mat-deep-purple);
$app-accent: mat-palette($base-palette: $mat-amber);
$app-theme: mat-light-theme(
  $primary: $app-primary,
  $accent: $app-accent,
);

@include custom-button-theme($theme: $app-theme);
@include custom-input-theme($theme: $app-theme);
