<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()" #ngFormRef="ngForm">
  <app-chat-layout [triggerScrollSubject]="messageReceived">
    <li *ngFor="let message of messages">
      <app-chat-message [message]="message"></app-chat-message>
    </li>

    <div id="chat-input">
      <base-form-textarea
        [control]="formControls.messageText"
        [appearance]="'fill'"
        [minRows]="1"
        [maxRows]="6"
      ></base-form-textarea>

      <button mat-icon-button type="submit" color="primary" cdkFocusInitial>
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </app-chat-layout>
</form>
