@import "variables";

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  position: relative;
  padding: 10px 10px 0;

  li {
    display: contents;
  }
}

#chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;

  base-form-textarea {
    width: 100%;
    margin-right: 10px;
  }

  button {
    position: relative;
    top: -8px;
  }
}
