<mat-form-field [appearance]="appearance" class="form-input">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <mat-icon *ngIf="icon" matPrefix>{{ icon }}</mat-icon>
  <input
    id="input"
    matInput
    [matTooltip]="inputTooltipText"
    [matTooltipPosition]="inputTooltipPosition"
    [type]="type"
    [formControl]="formControl"
    [placeholder]="placeholder"
    [required]="required"
    [readonly]="readonly"
  />
  <button
    *ngIf="isButtonShown && !!buttonIcon"
    id="inputButton"
    mat-icon-button
    matSuffix
    tabindex="-1"
    type="button"
    [disabled]="isButtonDisabled"
    [matTooltip]="buttonTooltipText"
    [matTooltipPosition]="buttonTooltipPosition"
    (click)="onButtonClicked()"
  >
    <mat-icon>{{ buttonIcon }}</mat-icon>
  </button>
  <mat-icon *ngIf="iconSuffix" matSuffix>{{ iconSuffix }}</mat-icon>
  <mat-error *ngIf="control?.invalid && validationDisplayed">{{ errorMessage }}</mat-error>
</mat-form-field>
