<div class="chat-message" [class.is-mine]="message.isMine">
  <div class="chat-message-header">
    <span class="chat-message-author">{{ message.authorName }}</span>
    <span class="chat-message-time">{{ message.time | date: 'shortTime' }}</span>
  </div>
  <pre>{{ message.text }}</pre>
</div>
