@import "~@angular/material/theming";
@import "variables";

$app-primary: mat-palette($base-palette: $mat-deep-purple);
$app-accent: mat-palette($base-palette: $mat-amber);

:host {
  display: contents;
}

.chat-message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;

  &:not(.is-mine) {
    border: $border-grey;
  }

  &.is-mine {
    margin-left: auto;
    background-color: mat-color($palette: $app-primary);
    color: $color-white;
  }
}

.chat-message-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 3px;

  .chat-message-author {
    color: mat-color($palette: $app-accent);
    margin-right: 10px;
  }

  .chat-message-time {
    margin-left: auto;
    color: $color-grey;
    font-size: 1.2rem;
  }
}
