<mat-card>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #ngFormRef="ngForm">
    <mat-card-header></mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          <base-form-input
            [control]="formControls.roomToken"
            [label]="'Room token'"
            [required]="true"
            [appearance]="'outline'"
          ></base-form-input>
        </li>
        <li>
          <base-form-input
            #userNameControl
            [control]="formControls.userName"
            [label]="'Your name'"
            [required]="true"
            [appearance]="'outline'"
          ></base-form-input>
        </li>
        <li class="toggle-controls">
          <base-boolean-field
            [label]="'Hide video'"
            [type]="BooleanFieldType.toggle"
            [control]="formControls.hideVideo"
          ></base-boolean-field>

          <base-boolean-field
            [label]="'Mute audio'"
            [type]="BooleanFieldType.toggle"
            [control]="formControls.muteAudio"
          ></base-boolean-field>
        </li>
      </ul>

      <mat-card-actions>
        <button mat-flat-button cdkFocusInitial color="primary" type="submit">Join</button>
        <button mat-stroked-button type="button" color="warning" (click)="onClear()">Clear</button>
      </mat-card-actions>
    </mat-card-content>
  </form>
</mat-card>
