<mat-form-field class="base-select form-input" [appearance]="appearance" color="primary">
  <mat-label>{{ placeholder }}</mat-label>
  <mat-select
    [formControl]="formControl"
    [required]="required"
    [multiple]="multiple"
    (selectionChange)="onSelectionChange($event)"
  >
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="control?.invalid">{{ errorMessage }}</mat-error>
</mat-form-field>
