<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Welcome to WebRTC Multi-Chat Application</mat-card-title>
    <mat-card-subtitle>Join or create a room for communication</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group [selectedIndex]="selectedIndex">
      <mat-tab label="Create a room">
        <app-create-room-form></app-create-room-form>
      </mat-tab>
      <mat-tab label="Join a room">
        <app-join-room-form></app-join-room-form>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
