:host {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px;
}

.mat-card-header .mat-card-title {
  margin-bottom: 20px;
}

.mat-card-content {
  margin-bottom: 0;
}
