@import "~@angular/material/theming";
@import "variables";

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  font-size: 10px;

  @media screen and (max-width: $desktop-s) {
    font-size: 8px;
  }
}

html {
  height: 100%;
}

body {
  font-family: $main-font;
  font-size: 1.6rem;
  min-width: 320px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color: $color-bg-light-blue;
}

main {
  height: 100%;
}

.ngx-toastr {
  .toast-title {
    font-weight: normal;
  }
}
