// FONTS
$emoji-fonts:
  "apple color emoji",
  "segoe ui emoji",
  "noto color emoji",
  "android emoji",
  "emojisymbols",
  "emojione mozilla",
  "twemoji mozilla",
  "segoe ui symbol",
  "segoe fallback";

$main-font: "Roboto", $emoji-fonts, sans-serif;

// COLORS

$color-white: #fff;
$color-black: #000;
$color-red: #f63636;
$color-green: #45c037;
$color-orange: #ec7b18;
$color-blue: #4882f6;
$color-grey: #9897ad;
$color-light-grey: rgba(#e6e5f2, 0.81);
$color-middle-grey: #545454;
$color-bg-light-blue: #fbfbfb;
$color-dark-grey: #2d2d2d;
$color-grey-alt: #a2a5aa;

$box-shadow-primary: 0 5px 19px 0 rgba(0, 0, 0, 0.1);
$box-shadow-secondary: 0 0 12px 0 rgba(0, 0, 0, 0.09);

$border-grey: 1px solid rgba(0, 0, 0, 0.12);

// BREAKPOINTS

$desktop-s: 1280px;
